body {
  background:url(../grey_wash_wall.png) repeat;
  color : white;
}

div.clear {
  clear:both;
}

.content div {
  width: 19%;
  min-width: 200px;
  height: 10em;
  margin: 1.5em 0 0 0.5%;
  float: left;
  text-align: center;
  padding: 10;
  color: white;
}

.content img{
  box-shadow: 10px 10px 60px Black;
  max-width: 100%;
  max-height: 100%;
  margin: 0px 20px 10px 0px;
}

#menu{
  position: absolute; 
}

#menu ul {
  list-style-type:none;
  list-style-image:none;
  margin:0px;
  padding:0px;
}

#menu li.topmenu {
  float:left;
}

.topmenu a {
  float:left;
  width:110px;
  text-align:center;
}

.topmenu ul{
  display:none;
}

.topmenu a, .submenu a{
  padding:1px 5px;
  border:1px solid #C37000;
  border-collapse:collapse;
  color:#C37000;
  font-weight:bold;
  text-decoration:none;
  background-color:#7F4800;
  margin:0;  
}

.submenu a{
  font-size:12px;
  width:110px;
  position:relative;
  clear:both; /* special IE6 */
}

a:hover, .topmenu.on a {
  color:#4C4C4C;
  background-color:#ffddbb !important;
}

.topmenu:hover ul {
  display:block;  
  z-index:500;
}

li:hover ul {
  display:block;
  position: relative;
  color:purple;
  z-index:2;
}

form {
  padding-top: 50px;
} 
